repos:
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
        language_version: python3.9
        types: [python]
        require_serial: true
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
        types: [toml]
      - id: check-yaml
        types: [yaml]
      - id: end-of-file-fixer
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        types: [text]
        stages: [pre-commit, pre-push, manual]
  - repo: local
    hooks:
      - id: darglint
        name: darglint
        entry: uv run darglint
        language: system
        types: [python]
        stages: [pre-commit, manual]
        args:
          - --ignore-raise
          - "FileNotFoundError,PermissionError,OSError,BadParameter"
      - id: flake8
        name: flake8
        entry: uv run flake8
        language: system
        types: [python]
        require_serial: true
        args: [--darglint-ignore-regex, .*]
      - id: isort
        name: isort
        entry: uv run isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: uv run pyupgrade
        language: system
        types: [python]
        args: [--py37-plus]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
        name: prettier
        types: [markdown, css, scss, html, yaml, json]
